<!-- List all To Do´s -->
<div ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.done"/>
    <input type="text" ng-model="todo.text"/>

    <img class="icons" src="images/down.png" ng-click="move($index,'down')">  
    <img class="icons" src="images/up.png" ng-click="move($index,'up')">     
    <img class="icons" src="images/remove.png" ng-click="removeTodo($index)"> 

    <!-- print index of elements -->
</div>

<!-- Add a new To Do item on list above -->
<form ng-submit="addTodo()">
    <input type="text" placeholder="Type new task" ng-model="todoText"/>
    <br />
    <input type="submit" id="gobutton"/>
</form>