<!-- List all To Do´s -->
<div ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.done"/>
    <input type="text" ng-model="todo.text"/>
    <a href="" ng-click="move($index,'down')">Down</a>
    <a href="" ng-click="move($index,'up')">Up</a>
    <a href="" ng-click="removeTodo($index)">Remove</a>
    <!-- print index of elements -->
    {{ $index }}
</div>

<!-- Add a new To Do item on list above -->
<form ng-submit="addTodo()">
    <input type="text" ng-model="todoText"/>
    <input type="submit"/>
</form>